---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
import GrundfosTécnicoAutorizado from '../assets/service/GrundfosTécnicoAutorizado.webp';
import WiloServicePartner from '../assets/service/WiloServicePartner.webp';
import servicioTecnicoImg1 from '../assets/service/servicio-tecnico (1).webp';
import servicioTecnicoImg2 from '../assets/service/servicio-tecnico (2).webp';
import servicioTecnicoImg3 from '../assets/service/servicio-tecnico (3).webp';
import servicioTecnicoImg from '../assets/hero/servicio-tecnico.webp';
---

<Layout title="Gamberini | Servicio tecnico">
	<main>
        <Hero title='Servicio Técnico' description='Mantenimiento, reparación y soporte técnico para asegurar el óptimo funcionamiento de sus equipos de bombeo.' image={servicioTecnicoImg}/>

        <CardGrid>
            <Card 
                image={servicioTecnicoImg1} 
                alt="Servicio Técnico Gamberini" 
                text="Somos <span>agente de servicio técnico autorizado</span> y <span>subfactory</span> de Grundfos en Argentina. Brindamos soporte oficial, mantenimiento y reparación de equipos Grundfos, garantizando la máxima calidad y respaldo directo de fábrica para tus sistemas hidráulicos."
                logo={GrundfosTécnicoAutorizado}
                logoAlt="Grundfos Técnico Autorizado"
            />

            <Card 
                image={servicioTecnicoImg2} 
                alt="Servicio Técnico Gamberini" 
                text="Como <span>servicio técnico oficial</span> y <span>partner certificado</span> de Wilo, ofrecemos atención especializada, instalación y soporte postventa para toda la línea de productos Wilo. Nuestra experiencia asegura soluciones eficientes y confiables para tus proyectos de bombeo."
                logo={WiloServicePartner}
                logoAlt="Wilo Service Partner"
            />

            <Card 
                image={servicioTecnicoImg3} 
                alt="Servicio Técnico Gamberini" 
                text="Brindamos <span>soporte integral post-venta</span>, atención rápida ante <span>emergencias</span> y <span>asesoramiento personalizado</span> para garantizar la continuidad operativa de tus sistemas contra incendios y agua."
            />
        </CardGrid>
    </main>
</Layout>

<style>
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>