---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import CardGrid from '../components/CardGrid.astro';
import Card from '../components/Card.astro';
import sistemaIncendiosImg from '../assets/hero/sistema-incendios.webp';
import incendiosImg from '../assets/incendios/incendios (1).webp';
import incendiosImg2 from '../assets/incendios/incendios (2).webp';
import incendiosImg3 from '../assets/incendios/incendios (3).webp';
import incendiosImg4 from '../assets/incendios/incendios (4).webp';
import incendiosImg5 from '../assets/incendios/incendios (5).webp';
import incendiosImg6 from '../assets/incendios/incendios (6).webp';
import NFPAMember from '../assets/incendios/NFPAMember.webp';
---

<Layout title="Gamberini | Sistema de protección contra incendios">
	<main>
        <Hero title='Sistema de protección contra incendios' description='Soluciones profesionales en sistemas de protección contra incendios, diseñados e instalados bajo normas IRAM y NFPA para máxima seguridad y confiabilidad.' image={sistemaIncendiosImg}/>

        <CardGrid>
            <Card 
                image={incendiosImg} 
                alt="Sistema de Protección Contra Incendios" 
                text="Con más de 20 años en el mercado, realizamos proyectos integrales de <span>sistemas de deteccion temprana y sistemas fijos</span> en base a agua, los cuales comprenden diseño y dimensionamiento personalizado para cada aplicación, montaje de instalaciones, start up y mantenimiento periódico bajo estrictas <span>normas internacionales.</span>" 
            />

            <Card 
                image={incendiosImg2} 
                alt="Sistema de Protección Contra Incendios" 
                text="Los <span>sistemas de detección temprana</span> utilizados para identificar a tiempo el inicio de incendios, permiten una respuesta rápida que puede salvar vidas y minimizar daños a sus instalaciones. Una detección oportuna marca la diferencia.</span>" 
                logo={NFPAMember} 
                logoAlt="NFPAMember" 
            />

            <Card 
                image={incendiosImg3} 
                alt="Sistema de Protección Contra Incendios" 
                text="Para el conformado de nuestras redes de incendio, utilizamos cañería con extremos ranurados. Esto garantiza ensamblajes en tiempos más cortos, lo cual reduce de manera significativa la duracion de nuestras obras." 
            />

            <Card 
                image={incendiosImg4} 
                alt="Sistema de Protección Contra Incendios" 
                text="Con más de 20 años en el mercado, realizamos proyectos integrales de <span>sistemas de deteccion temprana y sistemas fijos</span> en base a agua, los cuales comprenden diseño y dimensionamiento personalizado para cada aplicación, montaje de instalaciones, start up y mantenimiento periódico bajo estrictas <span>normas internacionales.</span>" 
            />

            <Card 
                image={incendiosImg5} 
                alt="Sistema de Protección Contra Incendios" 
                text="Los <span>sistemas de detección temprana</span> utilizados para identificar a tiempo el inicio de incendios, permiten una respuesta rápida que puede salvar vidas y minimizar daños a sus instalaciones. Una detección oportuna marca la diferencia.</span>" 
                logo={NFPAMember} 
                logoAlt="NFPAMember" 
            />

            <Card 
                image={incendiosImg6} 
                alt="Sistema de Protección Contra Incendios" 
                text="Para el conformado de nuestras redes de incendio, utilizamos cañería con extremos ranurados. Esto garantiza ensamblajes en tiempos más cortos, lo cual reduce de manera significativa la duracion de nuestras obras." 
            />

        </CardGrid>
    </main>
</Layout>

<style>
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

</style>