---
import { Image } from 'astro:assets';
import bomba1 from '../assets/img/bomba1.png';
import wilo from '../assets/marcas/Wilo.webp';
import grundfos from '../assets/marcas/Grundfos.webp';
import dab from '../assets/marcas/DAB.webp';
import motorarg from '../assets/marcas/Motorarg.webp';
import genebre from '../assets/marcas/GENEBRE.webp';
---

<div class="slider">
    <div class="slide-track">
        <div class="slide"><Image src={wilo} alt="Logo 1" loading="lazy" /></div>
        <div class="slide"><Image src={grundfos} alt="Logo 2" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 3" loading="lazy" /></div>
        <div class="slide"><Image src={motorarg} alt="Logo 4" loading="lazy" /></div>
        <div class="slide"><Image src={genebre} alt="Logo 5" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 6" loading="lazy" /></div>
        <div class="slide"><Image src={wilo} alt="Logo 7" loading="lazy" /></div>
        <div class="slide"><Image src={wilo} alt="Logo 1" loading="lazy" /></div>
        <div class="slide"><Image src={grundfos} alt="Logo 2" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 3" loading="lazy" /></div>
        <div class="slide"><Image src={motorarg} alt="Logo 4" loading="lazy" /></div>
        <div class="slide"><Image src={genebre} alt="Logo 5" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 6" loading="lazy" /></div>
        <div class="slide"><Image src={wilo} alt="Logo 7" loading="lazy" /></div>
    </div>
</div>