---
import { Image } from 'astro:assets';
import wilo from '../assets/marcas/Wilo.webp';
import grundfos from '../assets/marcas/Grundfos.webp';
import dab from '../assets/marcas/DAB.webp';
import motorarg from '../assets/marcas/Motorarg.webp';
import genebre from '../assets/marcas/GENEBRE.webp';
---

<div class="slider">
    <div class="slide-track">
        <div class="slide"><Image src={wilo} alt="Logo 1" loading="lazy" /></div>
        <div class="slide"><Image src={grundfos} alt="Logo 2" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 3" loading="lazy" /></div>
        <div class="slide"><Image src={motorarg} alt="Logo 4" loading="lazy" /></div>
        <div class="slide"><Image src={genebre} alt="Logo 5" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 6" loading="lazy" /></div>
        <div class="slide"><Image src={wilo} alt="Logo 7" loading="lazy" /></div>
        <div class="slide"><Image src={wilo} alt="Logo 1" loading="lazy" /></div>
        <div class="slide"><Image src={grundfos} alt="Logo 2" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 3" loading="lazy" /></div>
        <div class="slide"><Image src={motorarg} alt="Logo 4" loading="lazy" /></div>
        <div class="slide"><Image src={genebre} alt="Logo 5" loading="lazy" /></div>
        <div class="slide"><Image src={dab} alt="Logo 6" loading="lazy" /></div>
        <div class="slide"><Image src={wilo} alt="Logo 7" loading="lazy" /></div>
    </div>
</div>

<style>
    .slider {
    width: 100%;
    margin: 40px auto 20px auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide {
    flex: 0 0 auto;
    margin-right: 20px; 
    display: flex;
    align-items: center;
}

.slide img {
    max-height: 50px; 
    width: auto;  
    display: block;
}

@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.slide-track {
    gap: 40px;
    padding: 20px 0;
}

.slide-track img {
    height: 80px;
    object-fit: contain;
    transition: 0.2s ease;
}

.slide-track img:hover {
    transform: scale(1.08);
}
</style>